.map-app {
    .container {
        display: flex;
        height: calc(100vh - 61px - 61px - 100px);
        gap: 10px;
        & > .map-form {
            display: flex;
            flex-direction: column;
            form {
                display: flex;
                flex-direction: column;
                gap: 15px;
                & > div {
                    display: flex;
                    gap: 10px;
                    input {
                        padding: 5px;
                    }
                    label {
                        margin-inline-end: 15px;
                    }
                }
                & > div:last-of-type {
                    flex-direction: column;
                    & > div {
                        display: flex;
                        align-items: center;
                        label{
                            width: 3ch;
                            &.place{
                                width: unset;
                                margin-right: 5px;
                            }
                        }
                        input{
                            flex-grow: 1;
                        }
                    }
                }
            }
        }
        .myMap {
            flex-grow: 1;
        }
    }
}
