header {
    background-color: $bg-main;
    background: linear-gradient($bg-sec, $bg-main);
    box-shadow: inset 0 -5px 12px 0px #333, 0px 5px 12px #a2a2a2;
    margin-bottom: 20px;
    padding: 20px 0;
    text-align: center;
}
